@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255,255,255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* global.css */
.dark {
  --bg-color: #1f2937;
  --text-color: #f9fafb;
  /* Add other dark mode styles here */
}

/* Apply the dark mode styles to specific elements or the entire page */
.dark body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
